<div class="container">
    <h1>Painel de Administrador</h1>
    <div class="item">
        <h1>Clientes</h1>
        <a routerLink="/admin/client-form"><h1 aria-label="Adicionar cliente" class="add"><i class="fa-solid fa-circle-plus"></i></h1></a>
        <a routerLink="/admin/client-list"><h1 aria-label="Listar contas" class="list"><i class="fa-solid fa-list"></i></h1></a>
    </div>
    <div class="item">
        <h1>Contas</h1>
        <a routerLink="/admin/account-form"><h1 aria-label="Adicionar conta" class="add"><i class="fa-solid fa-circle-plus"></i></h1></a>
        <a routerLink="/admin/account-list"><h1 aria-label="Listar contas" class="list"><i class="fa-solid fa-list"></i></h1></a>
    </div>
    <div class="item">
        <h1>Caixa Eletrônico</h1>
        <h1 aria-label="Adicionar notas" class="add"><i class="fa-solid fa-circle-plus"></i></h1>
        <a routerLink="/admin/atm"><h1 aria-label="Listar notas" class="list"><i class="fa-solid fa-list"></i></h1></a>
    </div>
    <div class="item">
        <h1>Administradores</h1>
        <h1 aria-label="Adicionar notas" class="add"><i class="fa-solid fa-circle-plus"></i></h1>
    </div>
    <div class="item exit" (click)="logout()">
        <h1>Sair</h1>
    </div>
</div>