<div class="wrapper">
    <h1><i class="fa-solid fa-money-bill-transfer"></i> Transferência</h1>
    <form (submit)="handleSubmit()">
        <label>
            Digite o número da conta do destinatário:
            <input placeholder="Número da conta do destinatário aqui..." [(ngModel)]="number" name="number">
        </label>
        <label>
            Digite a quantidade a ser transferida:
            <input type='number' placeholder="Exemplo: 250.00" [(ngModel)]="value" name="value">
        </label>
        <app-lg-button class="btn" 
        [text]="value ? 'Toque para transferir ' + value.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) : 'Toque para transferir R$ 0,00'">
    </app-lg-button>    
    </form>
    <a routerLink="/client"><app-lg-button mode="danger" text="Toque para cancelar"></app-lg-button></a>
</div>