<div class="wrapper">
    <h3 class="toptitle">Caixa Eletrônico 24h <i class="fa-solid fa-moon"></i></h3>
    <form class="container" (ngSubmit)="stepForwards()">
        <h2 class="welcome">Bem-vindo ao</h2>
        <h1 class="welcome">Banco Dev</h1>
        <label>
            Digita o número de sua conta para entrar:
            <input placeholder="********" type="text" name='accountNumber' id="accountNumber" 
            [(ngModel)]="accountNumber">
        </label>
        <label *ngIf="step === 2" class="password">
            Agora digite a senha de sua conta:
            <input placeholder="****" type="password" name='accountPassword' id="accountPassword"
            [(ngModel)]="accountPassword">
        </label>
        <app-lg-button style="align-self: stretch;" [text]="step === 1 ? 'Prosseguir' : 'Acessar'">
        </app-lg-button>
        <ul>
            <li><i class="fa-solid fa-hand-holding-dollar"></i> Saques</li>
            <li><i class="fa-solid fa-sack-dollar"></i> Depósitos</li>
            <li><i class="fa-solid fa-money-bill-transfer"></i> Transferências</li>
        </ul>
    </form>
</div>