<div class="menu">
    <div class="option">
        <a routerLink="/" class="menu-btn align-start">Sacar</a>
    </div>
    <div class="option">
        <a routerLink="/" class="menu-btn align-end">Depositar</a>
    </div>
    <div class="option">
        <a routerLink="/balance" class="menu-btn align-start">Ver Saldo</a>
    </div>
    <div class="option">
        <a routerLink="/transactions" class="menu-btn align-end">Histórico de Transações</a>
    </div>
    <div class="option">
        <a routerLink="/transfer" class="menu-btn align-start">Transferir</a>
    </div>
    <div class="option">
        <span class="menu-btn align-end bg-exit" (click)="finish()">Finalizar</span>
    </div>
</div>
