.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    color: #f8f9fa;
}

label{
    margin: 20px 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 15px;
}

input, select{
    align-self: stretch;
    padding: 15px;
    font-size: 2rem;
    border: none;
    color: #212529;
    background-color: #e9ecef;
    border-radius: 5px;
}

h2{
    font-size: 2rem;
}

@media (max-width: 600px) {
    .container{
        padding: 10px;
    }
    h2{
        font-size: 1rem;
    }
    label{
        margin: 10px 0;
        font-size: 1rem;
    }
    input, select{
        font-size: 1.5rem;
        padding: 5px;
    }

    select{
        width: 90%;
        align-self: center;
    }
}