main{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/bg-1.png);
    background-size: cover;
    background-position: center;
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
}

header *{
    margin: 0;
}